
node_embed_size: 240
edge_embed_size: 120

embed:
  index_embed_type: null # null, "full", or "neighbor"
  index_embed_dim: 0
  time_embed_dim: 128
  embed_aatype: True
  aatype_embed_dim: 128
  length_embed_dim: 16
  embed_self_conditioning: True
  num_bins_distance: 22
  min_bin_distance: 1e-5
  max_bin_distance: 20.0
  embed_distogram: True
  embed_direction: True
  embed_direction_cutoff: 5 # cutoff in Angstrom, null means no cutoff. Only used if embed_direction is True


edge_features:
  self_condition: True

gfa:
  c_s: ${model.node_embed_size}
  c_z: ${model.edge_embed_size}
  c_hidden: 120
  no_heads: 8
  no_qk_points: 8
  no_v_points: 8
  seq_tfmr_num_heads: 4
  seq_tfmr_num_layers: 2
  num_blocks: 6