defaults:
  - data: default
  - experiment: default
  - interpolant: default
  - model: default
  - _self_

hydra:
  run:
    dir: outputs/hydra/

inference:
  # Use this to write with date-time stamp.
  name: run_${now:%Y-%m-%d}_${now:%H-%M}
  seed: 123
  ckpt_path: models/bbflow-mini-0.1/bbflow-mini-0.1.ckpt
  output_dir: outputs/inference/
  use_ckpt_name_in_outpath: True

  use_gpu: True
  num_gpus: 1

  use_tqdm: True
  log_times: False

  csv_path: ./dataset_csv/test/ATLAS_test.csv
  sort: False
  num_proteins: null # null = all proteins

  min_length: null # null = no lower limit
  max_length: null # null = no upper limit

  save_traj: False
  single_file: True

  interpolant:
    use_tqdm: ${inference.use_tqdm}
    min_t: 0.00
    max_t: 0.99
    rots:
      distribution: uniform # uniform, igso3
      sample_schedule: exp
      exp_rate: 10
    trans:
      sample_schedule: linear
    sampling:
      num_timesteps: 20
    self_condition: True

    prior: "conditional" # "conditional", "pure_noise"
    prior_conditional:
      gamma_trans: 0.2
      gamma_rots: 0.2


  samples:

    samples_per_protein: 25

    batch_size: 10

    num_res_squared: 2_900_000