setuptools
numpy
scikit-learn
absl-py
aiohttp
fastapi
markdown-it-py
plotly
torchmetrics
tqdm
wandb
hydra-core
gputil
dm-tree
biotite
mdtraj
tmtools
einops
pytorch-lightning
pandas
scipy
seaborn
matplotlib
opt-einsum
MDAnalysis
pytest
biopython